wikipedia==1.4.0
aiohttp==3.7.4
aiomysql==0.0.21
cached_method==0.1.0
chatbot==1.5.2b0
praw==7.3.0
psycopg==2.9.3
pytest==7.0.1
pytest-asyncio==0.18.1
pytz==2021.1
gTTS==2.2.3
git+https://github.com/Rapptz/discord-ext-menus
googletrans==3.1.0a0
mysqlclient==2.1.0
mysql-connector-python==8.0.28
Pillow==8.1.0
PyDrive==1.3.1
python-dotenv==0.15.0
treelib==1.6.1
emoji==1.4.1
emojis==0.6.0
git+https://github.com/Pycord-Development/pycord@14607fe5a2c48c5ab2a89a0b2c54dc64df63be8a