wikipedia==1.4.0
# discord.py==1.7.2
git+https://github.com/yagomichalak/discord.py.git@v1.x
aiohttp==3.7.4
aiomysql==0.0.21
praw==7.3.0
pytz==2021.1
gTTS==2.2.3
git+https://github.com/Rapptz/discord-ext-menus
PyDrive==1.3.1
googletrans==3.1.0a0
chatbot==1.5.2b0
# discord==1.0.1
Pillow==8.1.0
python-dotenv==0.15.0
treelib==1.6.1
discord-py-slash-command==1.2.2
